<div class="admin-nav">
    <a href="/homeUser">Home</a>
    <a href="/manageFlight">Flight Manager</a>
    <a href="/searchForFlight">Search for flight</a>
    <form class="row g-3" method="POST" action="/exit" novalidate>
        <button type="submit">
            <p>Exit</p>
        </button>
    </form>
</div>

<h1>Change confirmed info</h1>

{{#if alert}}
<div class="alert alert-success d-flex align-items-center" role="alert">
    {{alert}}
</div>
{{/if}}

{{#each rows}}
<form method="POST" action="/cancelFlight/{{this.ID}}" novalidate>
    <div class="form__input">
        <label class="form-label" for="floatingInput">Flight Number</label>
        <input readonly type="text" class="form-control" id="floatingInput" value="{{this.FlightNumber}}"
            placeholder="Flight Number" name="flightNumber">
    </div>

    <div class="form__input">
        <label class="form-label" for="floatingInput">is Confirmed?</label>
        <input type="text" class="form-control" id="floatingInput" value="{{this.Confirmed}}"
            placeholder="is Confirmed?" name="confirmed">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{{/each}}