<div class="admin-nav">
    <a href="/homeUser">Home</a>
    <a href="/manageFlight">Flight Manager</a>
    <a href="/searchForFlight">Search for flight</a>
    <a href="/flightSatisfaction" style="text-decoration: underline;">Flight Satisfaction Survey Reports</a>
    <form class="row g-3" method="POST" action="/exit" novalidate>
        <button type="submit">
            <p>Exit</p>
        </button>
    </form>
</div>


<div class="flightSatisfaction">

    <h1>Flight Satisfaction Survey Reports</h1>

    <div class="flightSatisfaction"></div>
</div>