
{{#if alert}}
<div class="alert alert-danger" role="alert">
  {{alert}}
</div>
{{/if}}

{{#if alertGood}}
<div class="alert alert-success" role="alert">
  {{alertGood}}
</div>
{{/if}}

{{#if alertBlocked}}
<div class="alert alert-danger" role="alert">
  {{alertBlocked}}
</div>
{{/if}}

<div id="blockedError">
  <p>Вы слишком часто вводили неправильный пароль, подождите несколько секунд</p>
  <p id="counterOfBlockedSec"></p>
</div>

<h1 class="page-title">Login</h1>

  <div id="logPopup" class="popup">
    <div id="logBg" class="bg"></div>
    <div class="popup__body">
      <div class="popup__content">
        <a id="logCross" class="popup__close"><img src="../img/close.svg" alt="закрыть"></a>

        <div class="popup__wrapper">
          <h1>No logout detected for your last login</h1>
          
          <form method="POST" action="/crushReason">
            <div class="reason__input">
              <label class="user-form-label" for="floatingInput">Reason</label>
              <input type="text" class="form-control" id="floatingInput" value="" placeholder="System crash or Software Crush"
                  name="crush">
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<form method="POST" action="/">
  <!-- Email input -->
  <div class="form__input">
    <label class="form-label" for="form2Example1">User Name</label>
    <input type="email" id="form2Example1" class="form-control" name="email" />
  </div>

  <!-- Password input -->
  <div class="form__input">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" name="password" />
  </div>

  <!-- Submit button -->
  <button id="loginSubmit" type="submit" class="btn btn-primary">Login</button>
</form>


<form class="row g-3" method="POST" action="/exit" novalidate>
    <button id="loginExit" type="submit" class="btn btn-exit">Exit</button>
</form>