<div class="admin-nav">
    <a href="/homeUser">Home</a>
    <a href="/manageFlight">Flight Manager</a>
    <a href="/searchForFlight" style="text-decoration: underline;">Search for flight</a>
    <a href="/flightSatisfaction">Flight Satisfaction Survey Reports</a>
    <form class="row g-3" method="POST" action="/exit" novalidate>
        <button type="submit">
            <p>Exit</p>
        </button>
    </form>
</div>


<div class="manageFlight">

    <h1>Search for flight</h1>

    <h2 class="manageFlight_subtitle">Filter by</h2>
    <div class="manageFlight_filters">
        <div class="manageFlight_filters__item">
            <p>From</p>
            <select id="AirportsFromDropdown" name="AirportsFrom">
                <option value="All">All airports</option>
                <option value="AUH">AUH</option>
                <option value="CAI">CAI</option>
                <option value="BAH">BAH</option>
                <option value="ADE">ADE</option>
                <option value="DOH">DOH</option>
                <option value="RUH">RUH</option>
            </select>
        </div>

        <div class="manageFlight_filters__item">
            <p>To</p>
            <select id="AirportsToDropdown" name="AirportsTo">
                <option value="All">All airports</option>
                <option value="AUH">AUH</option>
                <option value="CAI">CAI</option>
                <option value="BAH">BAH</option>
                <option value="ADE">ADE</option>
                <option value="DOH">DOH</option>
                <option value="RUH">RUH</option>
            </select>
        </div>

        <div class="manageFlight_filters__item">
            <p>Sort by</p>
            <select id="sortDropdown" name="sort">
                <option value="All">Without sort</option>
                <option value="Date">Date-Time</option>
                <option value="Price">Price</option>
                <option value="Approved">Approved</option>
            </select>
        </div>

        <div class="manageFlight_filters__item">
            <p>Outbound</p>
            <input type="text" class="form-control" id="outboundInput" value="" placeholder="dd / mm / yyyy"
                name="outbound">
        </div>

        <div class="manageFlight_filters__item">
            <p>Flight Number</p>
            <input type="text" class="form-control" id="flightNumberDropdown" value="" placeholder="01"
                name="flightNumber">
        </div>

        <button type="submit" onclick="filterFlight()">Apply</button>
    </div>
</div>