@mixin fontRegular {
    font-family: 'TeXGyreAdventor';
    font-weight: 400;
}

@mixin fontBold {
    font-family: 'TeXGyreAdventor';
    font-weight: 700;
}


@font-face {
    font-family: 'TeXGyreAdventor';
    font-weight: 400;
    src: url('../fonts/TeXGyreAdventor-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TeXGyreAdventor';
    font-weight: 700;
    src: url('../fonts/TeXGyreAdventor-Bold.ttf') format('truetype');
}