#blockedError {
    opacity: 0;
}

.blockedActive {
    opacity: 1 !important;
    transition: 0.4s !important;
}

.loginExitBlock {
    pointer-events: none !important;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s ease 0s;
    z-index: 901;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        z-index: 20;
    }

    &__content {
        background-color: #F7F7F7;
        color: #000;
        width: 700px;
        padding: 25px 80px 25px 80px;
        position: relative;
        border-radius: 40px;
    }

    &__wrapper {

        & h1{
            margin-bottom: 20px;
            font-size: 24px;
        }

        & p{
            margin-bottom: 10px;
        }

        & input {
            
        }
    }


    &__close {
        position: absolute;
        right: 25px;
        top: 20px;
        cursor: pointer;

        & img {
            width: 45px !important;
            height: 45px !important;
        }
    }
}

.open {
    opacity: 1 !important;
    visibility: visible !important;
}

.bg {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.reason__input {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;

    & input{
        outline: none;
    }
}